@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500&display=swap');

.section{
    background-color: #f2f2f5;
    padding-bottom: 150px;
}

.navbar-brand{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-family: 'Lobster', cursive;
}

/* ----------------------------------------- IncomeExpense ----------------------------------------- */


/* ----------------------------------------- Footer ------------------------------------------------ */

footer{
  margin-top: -54px;
  padding: 1rem !important;
  background-color: #0A192F !important;
  color: #fff !important;
}
.footer a{
  color: #fff;
  margin-left: 5px;
}
